.banner {
  margin-bottom: $spacer;
}

.banner,
.banner__link {
  margin-bottom: $spacer;
}

.banner__wrapper {
}

.banner__link,
.banner__wrapper {
}

.banner__wrapper {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: $max-width; 
}

.banner__item {
  flex: 0 1 25%;
  &:nth-child(1) {
    flex: 0 1 50%;
    margin: 0;
  }
  &:nth-child(2) {
    margin-left: -24.5%;
  }
  &:nth-child(3),
  &:nth-child(4),
  &:nth-child(5),
  &:nth-child(6) {
    margin-left: -12%;
  }
  &:nth-child(3),
  &:nth-child(5) {
    margin-top: calc(25.25vw - 0.5em);
  }
  &:nth-child(2),
  &:nth-child(4),
  &:nth-child(6) {
    margin-top: calc(38.25vw - 0.75em);
  }
}

.banner__item-image {
  display: block;
  width: 100%;
}

.banner__line-break {
  display: none;
}

@media (min-width: $device-width-small) {
  .banner {
    margin-bottom: 0;
    margin-top: -1em;
  }

  .banner__line-break {
    border-bottom: 0;
    border-left: 0;
    border-right: $base-border;
    border-top: 0;
    display: block;
    height: em(84);
    margin: 0 0 -1em 0;
    padding: 0;
    width: 87.5%;
  }

  .banner__item {
    flex: 0 1 25%;
    &:nth-child(1) {
      flex: 0 1 50%;
      margin: 0;
    }
    &:nth-child(2) {
      margin-left: -25%;
    }
    &:nth-child(3),
    &:nth-child(5) {
     margin-top: 25.25vw;
    }
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6) {
      margin-left: -12%;
    }
    &:nth-child(2),
    &:nth-child(4),
    &:nth-child(6) {
     margin-top: 38.25vw;
    }
  }
}

@media (min-width: $max-width) {
  .banner__item {
    flex: 0 1 25%;
    &:nth-child(1) {
      flex: 0 1 50%;
      margin: 0;
    }
    &:nth-child(2) {
      margin-left: -24.5%;
    }
    &:nth-child(3),
    &:nth-child(5) {
      margin-top: 12.5em;
    }
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6) {
      margin-left: -12%;
    }
    &:nth-child(2),
    &:nth-child(4),
    &:nth-child(6) {
      margin-top: 19em;
    }
  }
}
