html {
  font-size: $base-font-size;
  font-style: normal;
}

body {
  font-family: $base-font-family;
  background: $color-body-bg;
  display: grid;
  grid-gap: $spacer;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  margin: 0 auto;
  max-width: 1200px;
  padding: $block-padding;
}

.header {
  display: grid;
  grid-area: header;
  grid-template-areas:
    'logo social--top-nav'
    'nav nav';
  grid-template-columns: repeat(2, [col-start] 1fr [col-end]);
}

.logo {
  display: flex;
  grid-area: logo;
  justify-content: flex-start;
  text-align: center;
}

.social--top-nav {
  grid-area: social--top-nav;
}

main {
  grid-area: main;
  a {
    color: $base-link-color;
  } 
}

.content {
}

.nav {
  grid-area: nav;
}

.nav__item-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__item {
  display: flex;
  &:not(:last-child) {
    margin-bottom: em(10);
  }

  > a {
    background-color: $color-gray-dark;
    color: $color-gray-lightest;
    flex: 1 0 auto;
    padding: $spacer;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    &:not(:hover):not(:focus) {
      background-color: $color-gray-light;
      color: $color-black;
    }
  }
}

.video__wrapper {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%; // For ratio 16:9. 75% if ratio is 4:3
  position: relative;

  embed,
  object,
  iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.footer {
  grid-area: footer;
}

@media (min-width: $device-width-small) {
  body {
    grid-template-areas:
      'header header header header header header'
      'main main main main main main'
      'footer footer footer footer footer footer';
    grid-template-columns: repeat(6, [col-start] 1fr [col-end]);
    padding: 0;
  }

  main,
  .content {
    display: grid;
    grid-template-columns: repeat(6, [col-start] 1fr [col-end]);
  }

  .content {
    grid-column: col-start 2 / span 6;
  }
  
  .content__title-wrapper {
    grid-column: 3 / 5;
    text-align: center;
  }

  .content__body-wrapper {
    display: grid;
    border-left: $base-border;
    border-top: $base-border;
    grid-column: span 6;
    grid-template-columns: repeat(6, [col-start] 1fr [col-end]);
  }

  .content__body {
    grid-column: 2 / 6;
  }

  .video {
    grid-column: span 6;
  }
}
