html {
  font-size: $base-font-size;
  font-style: normal;
}

body {
  font-family: $base-font-family;
  background: $color-body-bg;
  margin: 0 auto;
  max-width: $max-width;
  padding: $block-padding;
}

.body--nav-open,
.body--modal-open {
  overflow: hidden;
}

.header {
  margin-bottom: $spacer;
}

.content a {
  color: $base-link-color;
  &:hover {
    color: $base-link-color-hover;
  }
}

.content__title {
  margin: 0;
}

.cta-button__wrapper {
  display: flex;
  justify-content: center;
}

.hr {
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-top: $base-border;
  margin: 0 0 em(36) 0;
  max-width: em(336);
  padding: 0;
  width: 100%;
}

.video__wrapper {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%; // For ratio 16:9. 75% if ratio is 4:3
  position: relative;

  embed,
  iframe,
  object {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.footer__legal-wrapper {
  display: flex;
  justify-content: center;
}

.footer__legal {
  margin: 0 0 $spacer 0;
  a {
    color: $base-font-color;
    cursor: pointer;
    text-decoration: none;
  }
}

@media (min-width: $device-width-small) {
  body {
    padding: 0;
  }

  .header,
  .footer {
    padding: $spacer;
  }

  .header {
    align-items: center;
    background-color: $color-body-bg;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    z-index: 2;
  }
}
