.city-picker {
  grid-area: city-picker;
  margin-bottom: em(36);
}

.city-picker__item-image-wrapper {
  display: block;

  &:focus,
  &:hover {
    &:before {
      border: 1px solid black;
      content: '';
      height: 75%;
      position: absolute;
      right: 12%;
      top: 12%;
      width: 75%;
      transform: rotate(45deg)
    }

    &:after {
      content: '';
      background-color: $color-seaweed;
      height: 70%;
      position: absolute;
      transform: rotate(45deg);
      right: 15%;
      top: 15%;
      width: 70%;
    }

    .city-picker__item-image {
      opacity: 0.5;
      position: relative;
      z-index: 2;
    }
  }
}

.city-picker__item-image {
  display: block;
  width: 100%;
  //transform: rotate(-45deg);
}

.city-picker__item-list {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  list-style: none;
  margin: 0;
  padding: 0;
}

.city-picker__item {
  position: relative;

  // &:nth-child(1),
  // &:nth-child(2),
  // &:nth-child(3) {
  //   .city-picker__item-image-wrapper {
  //     &:focus,
  //     &:hover {
  //       &:before,
  //       &:after {
  //         margin-top: -0.5em;
  //         margin-left: 0.5em;
  //       }
  //     }
  //   }
  // }

  // &:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)) {
  //   margin-top: 1em;
  // }

  &:nth-of-type(5n+1) {
    grid-column: 2 / 6;
  }

  &:nth-of-type(5n+2) {
    grid-column: 6 / 10;
  }

  &:nth-of-type(5n+3) {
    grid-column: 10 / 14;
  }

  // Rows of two
  &:nth-of-type(5n+4) {
    grid-column: 4 / 8;
  }

  &:nth-of-type(5n+5) {
    grid-column: 8 / 12;
  }
}
