.city-picker {
  grid-area: city-picker;
  margin-bottom: em(36);
}

.city-picker__item-image-wrapper {
  &:hover:before,
  &:focus:before {
    border: $base-border;
    bottom: 20px;
    content: '';
    left: 20px;
    position: absolute;
    right: 20px;
    top: 20px;
    transform: rotate(45deg);

    // mix-blend-mode: overlay;
  }
}

.city-picker__item-image {
  display: block;
  width: 100%;
}

.city-picker__item-list {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  list-style: none;
  margin: 0;
  padding: 0;
}

.city-picker__item {
  position: relative;

  &:nth-of-type(5n+1) {
    grid-column: 2 / 6;
  }

  &:nth-of-type(5n+2) {
    grid-column: 6 / 10;
  }

  &:nth-of-type(5n+3) {
    grid-column: 10 / 14;
  }

  // Rows of two
  &:nth-of-type(5n+4) {
    grid-column: 4 / 8;
  }

  &:nth-of-type(5n+5) {
    grid-column: 8 / 12;
  }
}
