.social {
  align-items: center;
  display: flex;
  grid-column: 5 / -1;
  justify-content: center;
}

.social--top-nav {
  justify-content: flex-end;
}

.social--footer {
  margin-bottom: 50px;
}

.social__item-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.social__item-list--mobile-nav {

  .social__item {
    flex: 0 3em;
  }
}


.social__item-list--top-nav {
  display: none;
  flex-wrap: wrap;
  justify-content: flex-end;

  .social__item {
    flex: 0 50%;
  }
}

.social__item-list--footer {
  justify-content: center;
}

.social__item {
  .social__item-icon,
  a {
    height: 100%;
    width: 100%;
  }

  a {
    display: block;
    position: relative;
    text-decoration: none;

    //Hack for making <a> clickable around SVG
    &:after {
      content: ""; 
      position: absolute; 
      top: 0; 
      right: 0; 
      bottom: 0; 
      left: 0;
    }
  }

  &:not(:last-child) {
    a {
      margin-right: em(5);
    }
  }
}

@media (min-width: $device-width-small) {
  .social__item-list--mobile-nav {
    display: none;
  }

  .social__item-list--top-nav {
    display: inline-flex;

    .social__item {
      flex: 1;
    }
  }

  .social__item {
    .social__item-icon,
    a {
      height: em(36);
      width: em(36);
    }
  }
  .social__item-list--footer {
    .social__item {
      .social__item-icon,
      a {
        height: em(96);
        width: em(96);
      }

      &:not(:last-child) {
        a {
          margin-right: em(12);
        }
      }
    }
  }
}
