// Colors
$color-white: #ffffff;
$color-gray-lightest: #e3e3e3;
$color-gray-light: #b8b8b8;
$color-gray-dark: #444444;
$color-black: #000000;

$color-body-bg: $color-gray-lightest;

// Layouts and spacing
$spacer: 1em;
$block-padding: $spacer;

// Fonts
$base-font-family: 'Josefin Sans', sans-serif;
$base-font-size: 18px;

// Styling
$base-border-size: 1px;
$base-border-color: $color-gray-dark;
$base-border: $base-border-size $base-border-color solid;