$color-white: #ffffff;
$color-gray-lightest: #e3e3e3;
$color-gray-light: #b8b8b8;
$color-gray-dark: #444444;
$color-black: #000000;

$color-body-bg: $color-gray-lightest;


$spacer: 1em;

$base-font-family: 'Josefin Sans', sans-serif;
$base-font-size: 18px;



$block-padding: $spacer;