// Colors
$color-black: #000000;
$color-white: #ffffff;
$color-gray-lightest: #e3e3e3;
$color-gray-light: #b8b8b8;
$color-gray-medium: #797777;
$color-gray-dark: #444444;
$color-black: #000000;


$color-body-bg: $color-gray-lightest;

// Fonts
$browser-context: 16; 
$base-link-color: $color-gray-medium;
$base-font-color: $color-black;
$base-font-family: 'Josefin Sans', sans-serif;
$base-font-size: #{$browser-context}px;

//
@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

// Layouts and spacing
$max-width: 1440px;
$header-height-value: 149;
$header-height: em($header-height-value);
$spacer: em($browser-context);
$block-padding: $spacer;

// Styling
$base-border-size: 1px;
$base-border-color: $color-gray-dark;
$base-border: $base-border-size $base-border-color solid;

// Nav
$nav-button-bar-width: 33px;

// Media queries
$device-width-small: 481px;
$device-width-medium: 787px;
$device-width-large: 900px;